<section>
<div class="container">
	<div class="row showcase-items">
		<div class="span10">
			<%= render partial: "layouts/home_carousel" %>
		</div>
	</div>
	<div class="row showcase-items">
		<div class=" span10">
			<%= image_tag "dummy_mostviews.png" %>
		</div>
		<a href="http://www.tkqlhce.com/click-6333401-11054887">DeezTeez</a><img src="http://www.awltovhc.com/image-6333401-11054887" width="1" height="1" border="0"/>
	</div>
	<!-- TODO: fuck use real data -->
	<div class="row showcase-items">
		<div class=" span10">
			<a class=" " ><img class="" alt="" src="http://myntra.myntassets.com/images/banners/1347625988-Myntra_banners_320x280_mini.jpg"></a>
			<a class=" middle"><img class="" alt="" src="http://myntra.myntassets.com/images/banners/september2012/1347960130-SHOE-SHOPAHOLICS(1)_mini.jpg"></a>
			<a class=" "><img class="" alt="" src="http://myntra.myntassets.com/images/banners/1347625318-1347022904-7-SUB_mini_mini.jpg"></a>
			<a class=" "><img class="" alt="" src="http://myntra.myntassets.com/images/banners/1347626382-SUB-mens_mini.jpg"></a>
			<a class=" middle"><img class="" alt="" src="http://myntra.myntassets.com/images/banners/1347625318-clutch-sub_mini.jpg"></a>
			<a class=" "><img class="" alt="" src="http://myntra.myntassets.com/images/banners/1346240255-All-time-favourites_mini.jpg"></a>
			<a class=" "><img class="" alt="" src="http://myntra.myntassets.com/images/banners/september2012/1347952298-garnier-new_mini.jpg"></a>
			<a class=" middle"><img class="" alt="" src="http://myntra.myntassets.com/images/banners/september2012/1347337530-styleprofile2_mini.jpg"></a>
			<a class=""><img class="" alt="" src="http://myntra.myntassets.com/images/banners/1347542843-catwalkdiscount_mini.jpg"></a>			
		</div>
	</div>
</div>
</section>
