<script type="text/template" id="dh-product-tile">
	<article id="post-<%%= item.id %>" class="post type-post status-publish format-standard hentry category-photos post clearfix" style="position: absolute; left: 0px; top: 0px; ">
		<div class="post-inner">
			<figure class="post-image" style="width: <%%= item.thumb_width %>px; height: <%%= item.thumb_height %>px;"><a data-toggle="modal" href="#hola"><img data-original="<%%= item.thumb_image_url %>" src="/assets/loader.gif" alt="Photo Gallery" width="280"></a>
			</figure>		
			<div class="post-content">
					<ul class="post-price unstyled clearfix">
						<li class="min_price pull-left">$<%%= item.min_price || 400 %></li>
						&nbsp; &nbsp; &nbsp;
						<li class="list_price pull-right">$<%%= item.list_price || 200 %></li>
					</ul>
				<!-- <time datetime="2012-06-20" class="post-date" pubdate="">
					
				</time> -->
			  <p class="post-meta">			
					<span class="post-author">
						<a href="<%%= item.affiliate_url %>"><%%= item.name %></a> <em>⋅</em>
					</span>
					<span class="post-category">
					</span>
				</p>
				<p>
					Praesent venenatis purus convallis ipsum porttitor convallis consectetur orci condimentum. Curabitur ornare interdum pellentesque.
				</p>

				<%% if(item.similar_products && item.similar_products.length > 0) {%>
					<div id="gallery-1" class="gallery galleryid-139 gallery-columns-3 gallery-size-thumbnail">
						<dl class="gallery-item">
							<dt class="gallery-icon">
								<a href="http://themify.me/demo/themes/pinboard/files/2012/06/121625630.jpg" rel="prettyPhoto[139]" title="121625630"><img width="80" height="80" src="http://themify.me/demo/themes/pinboard/files/2012/06/121625630-150x150.jpg" class="attachment-thumbnail" alt="121625630" title="121625630"></a>
							</dt></dl><dl class="gallery-item">
							<dt class="gallery-icon">
								<a href="http://themify.me/demo/themes/pinboard/files/2012/06/120695631.jpg" rel="prettyPhoto[139]" title="120695631"><img width="80" height="80" src="http://themify.me/demo/themes/pinboard/files/2012/06/120695631-150x150.jpg" class="attachment-thumbnail" alt="120695631" title="120695631"></a>
							</dt></dl><dl class="gallery-item">
							<dt class="gallery-icon">
								<a href="http://themify.me/demo/themes/pinboard/files/2012/06/120500588.jpg" rel="prettyPhoto[139]" title="120500588"><img width="80" height="80" src="http://themify.me/demo/themes/pinboard/files/2012/06/120500588-150x150.jpg" class="attachment-thumbnail" alt="120500588" title="120500588"></a>
							</dt></dl><br style="clear: both"><dl class="gallery-item">
							<dt class="gallery-icon">
								<a href="http://themify.me/demo/themes/pinboard/files/2012/06/119832987.jpg" rel="prettyPhoto[139]" title="119832987"><img width="80" height="80" src="http://themify.me/demo/themes/pinboard/files/2012/06/119832987-150x150.jpg" class="attachment-thumbnail" alt="119832987" title="119832987"></a>
							</dt></dl><dl class="gallery-item">
							<dt class="gallery-icon">
								<a href="http://themify.me/demo/themes/pinboard/files/2012/06/86541506.jpg" rel="prettyPhoto[139]" title="86541506"><img width="80" height="80" src="http://themify.me/demo/themes/pinboard/files/2012/06/86541506-150x150.jpg" class="attachment-thumbnail" alt="86541506" title="86541506"></a>
							</dt></dl><dl class="gallery-item">
							<dt class="gallery-icon">
								<a href="http://themify.me/demo/themes/pinboard/files/2012/06/86494632.jpg" rel="prettyPhoto[139]" title="86494632"><img width="80" height="80" src="http://themify.me/demo/themes/pinboard/files/2012/06/86494632-150x150.jpg" class="attachment-thumbnail" alt="86494632" title="86494632"></a>
							</dt></dl><br style="clear: both"><dl class="gallery-item">
						</dl>
						<br style="clear: both">
						<br style="clear: both;">
					</div>
				<%% }  %>

				<div class="social-share msss139">
	
				    <div class="twitter-share sharrre" data-url="http://dealhell.com" data-text="Photo Gallery"><a class="box" href="http:http://dealhell.com#"><div class="share"><span>share</span></div><div class="count" href="#">0</div></a></div>
				    
				    <div class="facebook-share sharrre" data-url="http://dealhell.com" data-text="Photo Gallery"><a class="box" href="http:http://dealhell.com#"><div class="share"><span>share</span></div><div class="count" href="#">0</div></a></div>
				    
				    <div class="pinterest-share sharrre" data-url="http://dealhell.com"  data-media="http://themify.me/demo/themes/pinboard/files/2012/06/121375483.jpg" data-description="Photo Gallery"><a class="box" href="http:http://dealhell.com#"><div class="share"><span>share</span></div><div class="count" href="#">0</div></a></div>
				    
				    <div class="googleplus-share sharrre" data-url="http://dealhell.com"  data-text="Photo Gallery"><a class="box" href="http:http://dealhell.com#"><div class="share"><span>share</span></div><div class="count" href="#">0</div></a></div>
				    
				</div>	
					
					<ol class="commentlist">
				
		<li id="comment-3" class="comment byuser comment-author-nick even thread-even depth-1">
			<p class="comment-author">
			</p>
			<div class="commententry">
				<p>
					<cite><a href="http://themify.me/" rel="external nofollow" class="url">Nick</a></cite>:
										Admin is testing comments.				</p>
			</div>
				</li>
	
		<li id="comment-6" class="comment byuser comment-author-eliorivero bypostauthor odd alt thread-odd thread-alt depth-1">
			<p class="comment-author">
			</p>
			<div class="commententry">
				<p>
					<cite><a href="http://themify.me/" rel="external nofollow" class="url">Elio</a></cite>:
										Nice, the YouTube video opens in a lightbox!				</p>
			</div>
				</li>
		</ol>

		    </div>			
		</div>								
		</div>
	</article>
</script>
