<!-- fix the modal-->
 <div style="display:none" class="modal" id="hola">
  <div style="padding: 10px">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div style="height: 535px; width: 860px;"><%= image_tag "ideeli_copy.png" %></div>
  </div>
</div>
<div id="body" class="clearfix" style="position: relative">
<%= render "layouts/sidebar"%>



<div id="layout" class="pagewidth clearfix sidebar-none" style="width: 1432px; max-width: 100%; ">
	<!-- <div id="sidebar"></div> -->
	<div id="content" class="clearfix">
		<div class="loops-wrapper grid4 infinite-scrolling AutoWidthElement isotope" style="overflow: hidden; position: relative; height: 1332px; ">
			
		</div>
	</div>
</div>
</div>
<% content_for :js do %>
<script type="text/javascript" src="https://raw.github.com/makeusabrew/bootbox/v2.4.1/bootbox.min.js"></script>
<script type="text/javascript">

	var product_json = <%= @products.html_safe %>
	
</script>
<%= render partial: "isotope_item" %>
<% end %>


