@mainred: #CC3333;
#h-top-grid{
	word-spacing: -1px;
	width: 100%;
	border-top: 4px solid @mainred;
	line-height: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	background-color: #F2F2F2;
	ul{
		li{
			width: 242px;
			text-align: center;
		}
	}
	a{
		color: gray;
		text-decoration: underline;
		&:hover{
			color: #333333;
		}
	}
	.punches{
		color: gray;
		font-size: 12px;
		text-transform: uppercase;
		li{
			padding-right: 65px;
			padding-top: 8px;
		}
		.need-help{
			li{padding-right: 0px;}
			a{
				color: #333333;
				text-decoration: underline;
				font-size: 12px;
			}
		}
	}
}

.header{
	input.search-query{
		width: 95%;
		padding: 10px 0px;
		padding-left: 15px;
		margin-right: 20px;
	}
	select{
		width: 110px;
		margin-right: 20px;
	}
	#dh-main-navigation{
		margin-bottom: 25px;
		font-size: 13px;
		height: 47px;
		padding-left: 30px;
		border-bottom: 4px solid #D6D6D6;
		margin-bottom: 0 0 9px 0px;
		text-transform: uppercase;
		li.nav-itm{
			float: left;
			position: relative;

			.dh-dropdown{
				position: absolute;
				border-left: 1px solid #CCCCCC;
				border-right: 1px solid #CCCCCC;
				border-bottom: 1px solid #CCCCCC;
				z-index: 1000000;
				width: 440px;
				display: none;
				.dn-dropdown-left{
					background: white;
					width: 100%;
					height: 470px;
				}
				&.first{
					width: 725px;
					.dn-dropdown-left{
						width: 60%;
					}
					.dn-dropdown-right{
						background: whiteSmoke;
						height: 470px;
						width: 40%;
						li{
							width: 120px;
						}
						img{
							max-width: 95px;
						}
					}
				}
				ul{
					padding: 15px;
				}
				ul.dh-menu-category-list{
					display: none;
					float: left;
					width: 185px;
					&.active{
						display: block;
					}
				}
				ul.dh-menu-category-names{
					float: left;
					width: 185px;
					display: block;
					li.active{
						color: #333333;
						text-decoration: underline;
					}
				}
				li{
					font-size: 13px;
					margin-bottom: 10px; 
					color: gray;
					cursor: pointer;
					a{
						color: gray;
					}
					&:hover{
						color: #333333;
						text-decoration: underline;
					}
				}
				li.dh-menu-category{
					color: #C33333;
					a{
						color: #C33333;
					}
					&:hover{
						color: #C33333;
					}
				}
			}

			a.itm-link{
				color: gray;
				font-size: 15px;
				text-decoration: none;
				div.active{
					border-bottom: 4px solid #C33333;
				}
				div.itm-content{
					padding: 9px 19px;
					height: 18px;
					margin-top: 10px;
					border-top: 1px solid white;
				}
			}

			&:hover{
				a.itm-link{
					color: #C33333;
				}
				div.itm-content{
					padding: 9px 18px !important;
					border-bottom: 4px solid white !important;
					border-top: 1px solid #CCCCCC !important;
					border-left: 1px solid #CCCCCC !important;
					border-right: 1px solid #CCCCCC !important;
				}	
				div.dh-dropdown{
					display: block;
				}	
			}	
		}
	}
}