footer.gone{
	border-top: 2px solid #D6D6D6;
	padding-bottom: 50px;
	.container{
		display: none;
	}
}
.footer-home{
	margin-top: 55px;
	text-align: center;
	div, p, li, h2{
		line-height: 21px;
	}
	hr{
		height: 1px;
		width: 100%;
		background: #D6D6D6;
		border: 0;
		margin: 0;
	}
	hr.isolate{
		height: 2px;	
	}

	.dh-links-block {
		overflow: hidden;
		padding-bottom: 20px;
		margin-top: 20px;
	}

	.dh-footer-links {
		float: left;
		width: 588px;
	}

	.dh-footer-links ul {
		margin: 0;
		padding: 0;
		list-style: none outside none;
		float: left;
		width: 47%;
	}

	.dh-footer-links ul li {
		padding-right: 10px;
		list-style: none;
	}

	.dh-footer-links ul li a {
		font: 14px/20px;
		margin-bottom: 2px;
		color: #333;
		font-size: 13px;
		font-weight: bolder;
	}

	.dh-footer-links ul li strong {
		letter-spacing: .05em;
		color: gray;
		display: block;
		margin-bottom: 2px;
		font: 12px/20px;
		margin-top: 28px;
	}

	.dh-footer-promos {
		width: 320px;
		float: right;
		padding: 0 30px;
		margin-top: 25px;
	}

	.promo-block {
		margin-bottom: 20px;
		overflow: hidden;
	}

	.dh-footer-promos .promo {
		line-height: 22px;
		color: #333;
		font: 25px/30px din-med;
		letter-spacing: .05em;
	}

	.promo-small-text {
		font-size: 14px;
		letter-spacing: 0;
		line-height: 25px;
		display: block;
	}

	.promo-leaf {
		color: #333;
		font: 13px Arial;
		text-transform: none;
		padding-top: 8px;
	}

	.certified-icon {
		background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v37.png");
		background-repeat: no-repeat;
		background-position: 0 -519px;
		width: 70px;
		height: 65px;
		margin: 0 auto;
	}
///////////////////// Links Block in the footer starts///////////////////////////

 ///////////////////// Need Help Block with social buttons starts///////////////////////////
	.support-block {
		width: 100%;
		color: gray;
		padding: 15px 0;
		a{
			text-decoration: underline;
			font-weight: bolder;
		}
	}

	.contact-block {
		width: 584px;
		display: inline-block;
		font-size: 12px;
		color: gray;
	}

	.contact-block span {
		color: #333;
		font-size: 16px;
		margin-top: 4px;
		display: block;
	}

	.social-block {
		width: 320px;
		padding: 0 30px;
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
	}
	.social-buttons {
		margin-top: 5px;
	}

	.social-buttons{
		a {
			background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v37.png");
			background-repeat: no-repeat;
			width: 32px;
			height: 32px;
			display: inline-block;
			margin-right: 3px;
		}

		.fb{
			background-position: -90px -143px;
		}
		.tw{
			background-position: -122px -143px;
		}
		.pt{
			background-position: -90px -294px;
		}
		.yt{
			background-position: -90px -181px;
		}
		.gp{
			background-position: -122px -181px;
		}
	}

///////////////////// Need Help Block with social buttons ends///////////////////////////





///////////////////// Testimonial Block with social buttons starts///////////////////////////
.testimonials-block {
	padding: 20px 0;
}

.testimonials {
	display: inline-block;
	width: 584px;
}

.foot-left-arrow,.foot-right-arrow {
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v37.png");
	background-repeat: no-repeat;
	width: 12px;
	height: 42px;
	float: left;
	margin-top: 40px;
	cursor: pointer;
	&#prev{
		background-position: -167px -143px;
	}
	&#next{
		background-position: -167px -185px;
	}
}

.testimonials-slide {
	padding: 0 12px;
	width: 536px;
	float: left;
}

.style-mynt strong, .testimonials strong, .love-myntra strong {
	font-size: 12px;
	color: gray;
	letter-spacing: .05em;
	font-weight: normal;
	display: block;
	padding-bottom: 4px;
}

.testimonials-text {
	display: block;
	padding-top: 11px;
	width: 546px;
	font: 13px Arial;
	text-transform: none;
}

.love-myntra {
	display: inline-block;
	height: 123px;
	width: 320px;
	vertical-align: top;
	padding: 0 30px;
}

.love-icon {
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v37.png");
	background-repeat: no-repeat;
	background-position: -78px -532px;
	width: 30px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}

.footer-social-buttons {
	padding-top: 10px;
	text-align: center;
	.fb-like-button {
		padding-left: 18px;
		margin-bottom: 10px;
	}
}

///////////////////// Testimonial Block with social buttons ends///////////////////////////


///////////////////// Tags Block with social buttons starts///////////////////////////

.dh-tags {
	clear: both;
	color: #CC3333;
	padding: 20px 0;
}

.dh-tags a {
	text-transform: uppercase;
	color: #D14747;
	font-size: 12px;
	margin-left: 5px;
	text-decoration: underline;
	font-weight: bolder;
}


///////////////////// Tags Block  ends///////////////////////////


///////////////////// about us text block starts///////////////////////////
.dh-text {
	padding: 30px 0;
	font: 13px/22px Arial;
	text-transform: none;
	border-top: 1px solid #D6D6D6;
}

.dh-foot-title {
	font-size: 12px;
	color: gray;
	letter-spacing: .05em;
	font-weight: normal;
	display: block;
	padding-bottom: 4px;
}

.dh-copy-right {
	color: #333;
	font-size: 12px;
	padding: 15px 0;
	font-weight: bolder;
}

///////////////////// about us text block ends//////////////////////////







}