#my-carousel ul {
    position:absolute; /* required */
    overflow:hidden; /* required */
    margin:0;
    padding:0;
}

#my-carousel ul li {
    float:left; /* required */
    width: 970px;
    height:420px;
    margin:0 10px 0 0;
}

#my-carousel .mask {
    position:relative; /* required */
    overflow:hidden; /* required */
    width:970px; /* required */
}

#my-carousel .pagination-links {
    list-style:none;
    margin:0;
    padding:0;
}

#my-carousel .pagination-links li {
    display:inline;
}

#my-carousel .pagination-links li.current {
    background:grey;
}

#my-carousel .disabled {
    color:grey;
}

#my-carousel.showcase{
    position: relative;
    .pagination-links{
        position: absolute;
        top: 11px;
        left: 20px;
        z-index: 100;
        width: 61px;
        li {
            margin-left: 5px;
            width: 10px;
            height: 10px;
            text-indent: -9999px;
            background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v37.png) no-repeat left -22px;
            outline: none;
            display: block;
            float: left;
            &.current{
              background-position: -15px -22px;
            }
            a{            
              visibility: hidden;
            }
        }
    }   
}