#dh-sidebar{
section.price-slider {
	min-width: 200px;
	width: 96%;
	height: auto;
	margin: 30px -15px 70px;
	position: relative;
}
#slider{
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	.border-radius(25px);
	width: 87%;
	position: absolute;
	height: 13px;
	background-color: #8e8d8d;
	.box-shadow(inset 0 1px 5px 0px rgba(0, 0, 0, .5));
    left: 20px;
}
.slider-tip {
	position: absolute;
	display: block;
	top: -25px;
	width: 35px;
	height: 20px;
	color: #fff;
	text-align: center;
	font: 10pt Tahoma, Arial, sans-serif ;
	.border-radius(3px);
	border: 1px solid #333;
  .box-shadow(1px 1px 2px 0px rgba(0, 0, 0, 0.3));
	.box-sizing(border-box);
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('../images/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	top: -7px;
	margin-left: -12px;
}
.ui-slider-range {
	background: #ffffff; /* Old browsers */
	#gradient.vertical(#ffffff,  #eaeaea);
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	.border-radius(25px);
}
}



	#dh-sidebar{
		background-color: #F7F7F7;
		.box-shadow(0 1px 3px #CCC);
		background: whiteSmoke url("/assets/sidebar-back.jpg");
		border-right: 5px solid #C33333;
		border-top: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		position: absolute;
		width: 300px;
		left: -300px;
		min-height: 700px;
		top: -61px;
		.border-radius(4px);
		text-transform: uppercase;
		color: gray;
	}
	#dh-sidebar h3{
		font-size: 17px;
		font-weight: normal;
		text-align: center;
		padding: 1px;
	}
	#dh-sidebar .dh-side-block{
		width: 90%;
		min-width: 200px;
		margin: 0 auto;
		min-height: 100px;
		margin-top: 20px;
		text-align: left; 
	}
	#dh-sidebar .dh-side-block h3, #dh-sidebar .dh-side-block label{
		text-align: left;
		font-weight: normal;
		font-size: 13px;
		padding: 0;
		margin: 0;
	}
	#dh-sidebar .dh-side-block h3{
		margin-top: 10px;
	}
	#dh-sidebar .dh-side-block button.main{
		width: 163px;
	}
	#dh-sidebar hr{
		height: 1px;
		width: 100%;
		background: #D6D6D6;
		border: 0;
		margin: 0;
	}
	#dh-sidebar .dh-chosen{
		min-width: 180px;
		width: 96%; 
		font-size: 12px;
	}
	#dh-sidebar .search-choice{
		font-size: 11px;
	}
	#sidebar-toggle{
		font-size: 16px;
		.border-radius(3px);
		cursor: pointer;
		outline: none;
		text-align: centre;
		text-decoration: none;
		display: block;
		color: white;
		padding: 6px 5px 6px 5px;
		background-color: #C33333;
		width: 20px;
		position: absolute;
		right: -30px;
		font-weight: bold;
	}