/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require bootstrap_and_overrides
 * require_self
 *
 */

 ul.inlined{
 	li{
 		float: left;
 	}
 }
 a{
 	color: gray;
 	font-size: 13px;
 }

.btn-small{
	font-size: 12px;
	font-weight: bold;
}

a, li, h1, h2, h3, h4, strong, input, b, .title{
	font-family: 'FontAwesome',"Helvetica Neue", Helvetica, Arial, sans-serif
}