@import "bootstrap_and_overrides.css.less";
@import "layouts/header_home.css.less";
@import "layouts/home_footer.css.less";
@import "layouts/sidebar.css.less";
@import "board/isotope_theme.css.less";
#body .gallery .gallery-icon img{
	width: 50px;
	height: 50px;
	color: #CA2C19;
	color: #EF4135;
}

#body{
	#content{
		visibility: hidden;
	}
}

.isotope-item{
	.post-price{
		text-transform: uppercase;
		.min_price{
			color: #333333;
			font-size: 15px;
			margin-left: 20px;
		}
		.list_price{
			color: #999;
			font-size: 13px;
			text-decoration: line-through;
			margin-right: 20px;
			font-style: italic;
		}
	}

}

