@import "bootstrap_and_overrides.css.less";
@import "layouts/header_home.css.less";
@import "layouts/home_carousel.css.less";
@import "layouts/home_footer.css.less";


body{
	text-transform: uppercase;
	word-spacing: -1px; // TODO: Fix this when we have right font
}

.main-container .row.showcase-items{
	margin-top: 20px;
} 