
/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	font: 80%/150% 'FontAwesome', "Times New Roman", Times, serif;
	-webkit-font-smoothing: antialiased;
}

.header.pagewidth{
	.responsive-header{
		max-width: 670px;
		width: 70%;
		input.search-query{
			width: 100%;
		}
	}
}

a {
	text-decoration: none;
	outline: none;
	color: #CC3333;
	text-transform: uppercase;
}
a:hover {
	text-decoration: underline;
	color: #942A25;
}
.post-meta a:hover{

}
p {
	margin: 0 0 1.2em;
	padding: 0;
}
small {
	font-size: 87%;
}
blockquote {
	font: italic 110%/130% "Times New Roman", Times, serif;
	padding: 8px 30px 15px;
}
ins {
	text-decoration: none;
}




/************************************************************************************
STRUCTURE
*************************************************************************************/
/* main page width */
.pagewidth {
	width: 978px;
	margin: 0 auto;
}

/* content */
#content {
	width: 71%;
	float: left;
	padding: 0 0 60px;
}
.sidebar-none #content {
	width: 100%;
	float: none;
}

/* sidebar */
#sidebar {
	width: 280px;
	padding: 0 0 60px;
}

/* sidebar left */
.sidebar-left{
	margin-left: 300px;
	 #content {
		float: right;
		width: 100%;
	}
}

.sidebar-left #sidebar {
	position: absolute;
	left: 0px;
}

/************************************************************************************
GRID
*************************************************************************************/
.col,
.col4-1,
.col4-2,
.col4-3,
.col3-1,
.col3-2,
.col2-1
{
	float: left;
	margin-left: 2%;
}
.col4-1 {
	max-width: 23%;
}
.col4-2, .col2-1 {
	max-width: 48%;
}
.col4-3 {
	max-width: 72%;
}
.col3-1 {
	max-width: 31%;
}
.col3-2 {
	max-width: 62%;
}
.col.first,
.col4-1.first,
.col4-2.first,
.col4-3.first,
.col3-1.first,
.col3-2.first,
.col2-1.first
{
	margin-left: 0;
	clear: left;
}



/************************************************************************************
LOOPS WRAPPER
*************************************************************************************/
.loops-wrapper {
	margin-left: -20px;
	overflow: visible !important;
}

/************************************************************************************
POST
*************************************************************************************/
.post {
	margin-bottom: 20px;
	background: #fff;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
.post-inner {
	padding: 14px;
}

/* author pic */
.post .author-pic {
	float: left;
	margin: 0 10px 5px 0;
}
.page .author-pic img,
.archive .author-pic img,
.search .author-pic img,
.home .post .author-pic img {
	width: 34px;
	height: 34px;
}
/* post content */
.post-content {
	min-width: 120px;
}

/* post title */
.post-title {
	margin: 0;
	padding: 0;
	font: normal italic 16px/110% Radley, Georgia, "Times New Roman", Times, serif;
}
.post-title a {
	color: #000;
}

/* post date */
.post-date {
	font: italic 85%/110% "Times New Roman", Times, serif;
	color: #999;
	display: block;
	margin: 0 0 4px;
}

/* post image */
.post-image {
	margin: 0 0 8px;
}

.post-image.left {
	float: left;
	margin-right: 15px;
}
.post-image.right {
	float: right;
	margin-left: 15px;
}

/* lightbox zoom image */
.post-image .lightbox {
	position: relative;
	display: inline-block;
	zoom:1;
	*display:inline;
	max-width: 100%;
}
.post-image .lightbox .zoom {
	width: 40px;
	height: 40px;
	background: url(images/icon-zoom.png) no-repeat center center;
	margin: -20px 0 0 -20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
}
.post-image .lightbox:hover .zoom {
	background-color: #000;
}

/* post meta */
.post-meta {
	font-size: 99%;
	line-height: 134%;
	clear: both;
	margin: 0 0 10px;
	color: #999;
}

/* more link */
.more-link {
	font-size: 75%;
	line-height: 100%;
	text-transform: uppercase;
	padding: 3px 8px 4px;
	margin-left: 4px;
	text-decoration: none;
	background: #be252a;
	color: #fff;
	display: inline-block;
	zoom:1;
	*display:inline;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* list post */
.list-post {
	position: relative;
}
.list-post .post-title {
	font-size: 200%;
	margin-bottom: 5px;
}
.list-post .post-content {
	position: relative;
	margin-left: 130px;
	min-height: 140px;
}
.list-post .shortcode .post-content {
	margin-left: 0;
}
.list-post .post-meta {
	width: 110px;
	position: absolute;
	top: 50px;
	left: -130px;
}
.list-post .post-meta em {
	display: none;
}
.list-post .post-meta .post-author,
.list-post .post-meta .post-category,
.list-post .post-meta .post-tag,
.list-post .post-meta .post-author,
.list-post .post-meta .post-comment a {
	display: block;
	text-align: right;
	border-top: solid 1px #ddd;
	padding: 5px 0;
}
.list-post .author-pic {
	position: absolute;
	top: 0;
	left: -60px;
}

/* grid4 post */
.grid4 .post {
	width: 222px;
	margin-left:20px;
	float: left;
	font-size: 95%;
	line-height: 140%;
}
.grid4 .post-title {
	font-size: 120%;
}

/* grid3 post */
.grid3 .post {
	width: 306px;
	margin-left: 20px;
	float: left;
}
.grid3 .post-title {
	font-size: 150%;
}

/* grid2 post */
.grid2 .post {
	width: 474px;
	float: left;
	margin-left: 20px;
}
.grid2 .post-title {
	font-size: 170%;
}




/************************************************************************************
COMMENTS
*************************************************************************************/
.commentwrap {
	margin: 10px 0 20px;
	position: relative;
	clear: both;
}

/* comment title */
.comment-title, #reply-title {
	font-size: 160%;
	margin: 0 0 10px;
	padding: 0;
}

/* comment pagenav */
.commentwrap .pagenav {
	margin: 10px 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.commentwrap .pagenav.top {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}

/* commentlist */
.commentlist {
	margin: 0 0 30px;
	padding: 5px 0 0;
	border-top: solid 1px #ddd;
}
.commentlist li {
	margin: 0;
	padding: 15px 0 0;
	list-style: none;
	position: relative;
}
.commentlist .comment-author {
	margin: 0 0 5px;
	padding: 0;
}
.commentlist .avatar {
	float: left;
	margin: 0 15px 0 0;
}
.commentlist cite {
	font: italic 130% Radley, Georgia, "Times New Roman", Times, serif;
}
.commentlist cite a {
	text-decoration: none;
}
.commentlist .bypostauthor > .comment-author cite {
	background: url(images/icon-author-comment.png) no-repeat 0 2px;
	padding-left: 18px;
}
.commentlist .comment-time {
	font-size: 75%;
	text-transform: uppercase;
}
.commentlist .commententry {
	border-bottom: solid 1px #ddd;
	position: relative;
	min-height: 40px;
	overflow: hidden;
	padding-bottom: 5px;
	word-wrap: break-word;
}
.commentlist ul, .commentlist ol {
	margin: 0 0 0 7%;
	padding: 0;
}

/* commentlist on home, archive pages and query category pages */
.page .commentlist,
.archive .commentlist,
.search .commentlist,
.home .commentlist {
	font-size: 90%;
	margin: 0;
	padding: 0;
	border: none;
}
.page .commentlist ul,
.archive .commentlist ul,
.search .commentlist ul,
.home .commentlist ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.page .commentlist p,
.archive .commentlist p,
.search .commentlist p,
.home .commentlist p {
	margin: 0 0 5px;
}
.page .commentlist li,
.archive .commentlist li,
.search .commentlist li,
.home .commentlist li {
	border-top: solid 1px #eee;
	padding: 10px 0;
}
.page .commentlist li:last-child,
.archive .commentlist li:last-child,
.search .commentlist li:last-child,
.home .commentlist li:last-child {
	padding-bottom: 0;
}
.page .commentlist .comment-author,
.archive .commentlist .comment-author,
.search .commentlist .comment-author,
.home .commentlist .comment-author {
	margin: 0;
	float: left;
}
.page .commentlist .avatar,
.archive .commentlist .avatar,
.search .commentlist .avatar,
.home .commentlist .avatar {
	margin-right: 10px;
}
.page .commentlist cite,
.archive .commentlist cite,
.search .commentlist cite,
.home .commentlist cite {
	font-size: 110%;
	font-weight: bold;
}
.page .commentlist .commententry,
.archive .commentlist .commententry,
.search .commentlist .commententry,
.home .commentlist .commententry {
	min-height: 30px;
	padding-bottom: 0;
	border: none;
	clear: none;
}

/* more comments */
.page .more-comments,
.archive .more-comments,
.search .more-comments,
.home .more-comments {
	border-top: solid 1px #ddd;
	padding: 10px 0 0;
	margin: 15px 0 0;
	text-align: center;
}

/* reply link */
.commentlist .reply {
	position: absolute;
	right: 0;
	top: 8px;
}
.commentlist .comment-reply-link {
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}
.commentlist .comment-reply-link:hover {
	text-decoration: none;
}




/************************************************************************************
ISOTOPE
*************************************************************************************/
/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}
/************************************************************************************
LOAD MORE BUTTON
*************************************************************************************/
#load-more {
	clear: both;
	margin: 30px 0 10px;
	right: 44%;
	text-align: center;
}
#load-more a {
	font-size: 120%;
	line-height: 100%;
	color: #fff;
	background: #be252a url(images/load-more.png) no-repeat 20px center;
	padding: 15px 20px 15px 45px;
	text-decoration: none;
	display: inline-block;
	zoom:1;
	*display:inline;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,.5), 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 -1px 1px rgba(0,0,0,.5), 0 1px 2px rgba(0,0,0,.3);
	box-shadow: inset 0 -1px 1px rgba(0,0,0,.5), 0 1px 2px rgba(0,0,0,.3);
}




/************************************************************************************
GALLERY
*************************************************************************************/
#body .gallery {
	margin: 0 0 5px;
}
#body .gallery img {
	border: none;
}

/* gallery item */
#body .gallery dl {
	margin: 0 8px 8px 0;
	display: inline-block;
	vertical-align: top;
	zoom:1;
	*display:inline;
	width: auto;
	float: none;
	text-align: center;
}

/* gallery caption */
#body .gallery dd {
	width: 140px;
	line-height: 120%;
	font-size: 90%;
	text-align: center;
	margin: 5px 0 0;
}

/* get rid of br tag */
.gallery br {
	display:none;
}

/* resize gallery image on small grid layout */
.grid4 .gallery img,
.grid3 .gallery img {
	max-width: 50px !important;
}

/************************************************************************************
CLEAR & ALIGNMENT
*************************************************************************************/
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.textleft {
	text-align: left;
}
.textright {
	text-align: right;
}
.textcenter {
	text-align: center;
}


/************************************************************************************
SHARE BUTTONS
*************************************************************************************/
.social-share {
	margin: 5px 0 10px;
	overflow: hidden;
	clear: both;
	display: block;
	height: 42px;
}
/* sharrre container */
.sharrre {
	width:  39px;
	margin: 0 3px 0 0;
	display: inline-block;
	zoom:1;
	*display:inline;
}
.sharrre a,
.sharrre a:hover {
	text-decoration: none;
}
/* sharrre top part */
.sharrre .share {
	height: 21px;
	background: #b6b6b6;
	border: solid 1px #9a9a9a;
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3);

	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
/* sharre bottom part */
.sharrre .count {
	font-size: 13px;
	line-height: 100%;
	text-align: center;
	color: #444;
	min-height: 16px;
	position: relative;
	background: #eaeaea;
	border: 1px solid #cfcdcd;

	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.7);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.7);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.7);

	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.sharrre .share span {
	display: none;
}

/* share icons */
.twitter-share .share {
	border-color: #5d85b3;
	background: #669ede url(images/share-twitter.png) no-repeat center center;	
}
.facebook-share .share {
	border-color: #5a6ab2;
	background: #667cde url(images/share-facebook.png) no-repeat center center;	
}
.googleplus-share .share {
	border-color: #9c4343;
	background: #db4040 url(images/share-googleplus.png) no-repeat center center;	
}
.pinterest-share .share {
	border-color: #ba4347;
	background: #ee4a4f url(images/share-pinterest.png) no-repeat center center;	
}

/************************************************************************************
LIGHTBOX SINGLE
*************************************************************************************/
.lightbox-post {
	background: #fff;
	width: 100%;
	padding: 0;
}
.lightbox-post #content {
	width: 100% !important;
	max-width: 100% !important;
}
.lightbox-post .post {
	width: 100% !important;
	max-width: 100% !important;
	padding: 0;
	margin: 0;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.lightbox-post .post-inner {
	padding: 0;
	margin: 0;
}

/* remove post nav in lightbox single */
.lightbox-post .post-nav {
	display: none;
}

