<div id="fb-root"></div>
<% content_for :body_end do %>
<script type="text/javascript">
	// Facebook initializer
$(window).load(function(){
	  window.fbAsyncInit = function() {
	    FB.init({
	      //appId      : '<%= FB_APP_ID %>', // App ID
	      //channelUrl : '//#{SITENAME}/channel.html', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });
			FB.Event.subscribe('message.send',
			});

			FB.Event.subscribe('edge.create',
			});
	  };
	  // Load the SDK Asynchronously
	  (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222774911119090";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
});
</script>
<% end %>
