<div class="container footer-home">
  <div class="row">
    <div class="span10">
      <hr class="isolate">

    <div class="dh-links-block clearfix">
      <div class="dh-footer-links">
        <ul>
          <li><strong>SHOP</strong></li>
                      <li><a href="/men?nav_id=5">Men</a></li>
            <li><a href="/women?nav_id=34">Women</a></li>
            <li><a href="/kids-landing?nav_id=172">Kids</a></li>
            <li><a href="/brands?nav_id=2">Brands</a></li>
            <li><a href="/sales?nav_id=1">Sale</a></li>
            <li><a href="http://www.stylemynt.com/?nav_id=3" rel="nofollow" target="_blank">Style Blog</a></li>

          <li><strong class="mt20">ACCOUNT</strong></li>
                                <li><a href="http://www.myntra.com/mymyntra.php" onclick="_gaq.push(['_trackEvent', 'mymyntra', 'footer', 'click']);return true;">My Myntra</a></li>
            <li><a href="http://www.myntra.com/mymyntra.php?view=myprofile#more-info" onclick="_gaq.push(['_trackEvent', 'myprofile', 'footer', 'click']);return true;">My Profile</a><span class="new-icon"></span></li>
                              <li><a href="http://www.myntra.com/mkmycart.php" onclick="_gaq.push(['_trackEvent', 'bag', 'footer', 'click']);return true;">My Shopping Bag</a></li>
          <li><a href="http://www.myntra.com/mkmycart.php#wishlist" onclick="_gaq.push(['_trackEvent', 'wishlist', 'footer', 'click']);return true;">My Wishlist</a>
          </li>
        </ul>
        <ul>
          <li><strong class="mt20">CUSTOMER SERVICE</strong></li>
          <li><a href="http://www.myntra.com/faqs#top" onclick="_gaq.push(['_trackEvent', 'footer', 'faqs', 'click']);return true;">FAQs</a></li>
          <li><a href="http://www.myntra.com/faqs#shipping" onclick="_gaq.push(['_trackEvent', 'footer', 'shippingpolicy', 'click']);return true;">Shipping</a></li>
          <li><a href="http://www.myntra.com/faqs#cancel" onclick="_gaq.push(['_trackEvent', 'footer', 'cancelpolicy', 'click']);return true;">Cancellation</a></li>
          <li><a href="http://www.myntra.com/faqs#returns" onclick="_gaq.push(['_trackEvent', 'footer', 'returnspolicy', 'click']);return true;">Returns</a></li>
          <li><a href="http://www.myntra.com/privacypolicy#top" onclick="_gaq.push(['_trackEvent', 'footer', 'privacypolicy', 'click']);return true;">Privacy</a></li>
          <li><a href="http://www.myntra.com/termsofuse#top" onclick="_gaq.push(['_trackEvent', 'footer', 'termsofuse', 'click']);return true;">Terms of Use</a></li>

          <li><strong>MYNTRA</strong></li>
          <li><a href="http://www.myntra.com/aboutus#top" onclick="_gaq.push(['_trackEvent', 'footer', 'aboutus', 'click']);return true;">About Us</a></li>
          <li><a href="http://www.myntra.com/careers#top" onclick="_gaq.push(['_trackEvent', 'footer', 'careers', 'click']);return true;">Work With Us</a></li>
          <li><a href="http://www.myntra.com/contactus#top" onclick="_gaq.push(['_trackEvent', 'footer', 'contactus', 'click']);return true;">Contact Us</a></li>
        </ul>
      </div>
      <div class="dh-footer-promos">
        <div class="promo-block">
            <div class="promo ">
               20,000+ STYLES<br>
                350+ BRANDS
                <span class="promo-small-text">AND COUNTING!</span>
            </div>
            <div class="promo-leaf">
                We have the largest collection of the latest fashion and lifestyle products in India!
            </div>
        </div>

        <div class="promo-block">
            <div class="pipe">
                <div class="certified-icon">&nbsp;</div>
            </div>
            <div class="promo-leaf">
                All our products are brand new and 100% original.
            </div>
        </div>

      </div>
    </div>
<!--=========== links block in footer ends ========== -->
    <hr>

<!--=========== soupport, need help, soical button block in footer starts ========== -->

<div class="support-block">
            <div class="contact-block">
                                                  Need Help? <span><a style="color: #333333;text-transform: uppercase;" href="/contactus">Contact Us</a></span>
                                                <div></div>
               </div>
                      <div class="social-block">
                    SOCIAL
                        <div class="social-buttons">
                            <a href="" target="_blank" class="fb">&nbsp;</a>
                            <a href="" target="_blank" class="tw" >&nbsp;</a>
                            <a href="" target="_blank" class="pt" >&nbsp;</a>
                            <a href="" target="_blank" class="yt" >&nbsp;</a>
                            <a href="" target="_blank" class="gp">&nbsp;</a>
                        </div>
                 </div>
              </div>

<!--=========== soupport, need help, soical button block in footer ends ========== -->

  <hr>
<!--=========== testimonial block in footer starts ============================== -->


        <div class="testimonials-block">
          <div class="testimonials">
            <div class="foot-left-arrow" id="prev">&nbsp;</div>
            <div class="testimonials-slide left">

              <strong>A DELIGHTED CUSTOMER SAYS...</strong>
              <div id="testimonials-slide" style="position: relative; width: 546px; height: 81px; ">
              <span class="testimonials-text" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 11; opacity: 1; width: 546px; height: 70px; ">
              " I really appreciate the website - in fact, I can say that Myntra is the best website for online shopping that I have ever seen. Everything is too good and perfect that nobody can stop themselves from registering and purchasing a product immediately. Well done! "
              <em>- Vivek Kumar, Kolkata</em>
              </span>

              <span class="testimonials-text" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 10; opacity: 0; width: 546px; height: 55px; ">
              " The time taken to deliver the product was excellent and the service was superb. Keep it up! "
              <em>- Praveen Gurjar, Jaipur</em>
              </span>

              <span class="testimonials-text" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 10; opacity: 0; width: 546px; height: 55px; ">
               " I am addicted to Myntra. I enjoy looking at the products and you give amazing Mynt credits which makes me buy more and more. Thank you for all the offers! "
               <em>- Chaitra, Bangalore</em>
              </span>

            </div>
            </div>
            <div class="foot-right-arrow" id="next">&nbsp;</div>
            </div>
            <div class="love-myntra">
                <strong>GIVE US<span class="love-icon">&nbsp;</span></strong>
                <div class="footer-social-buttons">
                <div class="fb-like-button"></div>
                        
                </div>
            </div>
        </div>


<!--=========== testimonial block in footer ends ============================== -->

<hr>
<!--=========== tags block in footer starts ===================================== -->

  <div class="dh-tags">
<a href="http://www.myntra.com/jewellery" onclick="_gaq.push(['_trackEvent', 'footer', 'jewellery', 'click']);return true;">Jewellery</a>,
          <a href="http://www.myntra.com/nike-shoes" onclick="_gaq.push(['_trackEvent', 'footer', 'nike-shoes', 'click']);return true;">Nike Shoes</a>,
          <a href="http://www.myntra.com/myntra-coupons" onclick="_gaq.push(['_trackEvent', 'footer', 'myntra-coupons', 'click']);return true;">Myntra Coupons</a>,
          <a href="http://www.myntra.com/tshirts" onclick="_gaq.push(['_trackEvent', 'footer', 'tshirts', 'click']);return true;">T-shirts</a>,
          <a href="http://www.myntra.com/shoes" onclick="_gaq.push(['_trackEvent', 'footer', 'shoes', 'click']);return true;">Shoes</a>
                              <a href="http://www.myntra.com/watches" onclick="_gaq.push(['_trackEvent', 'footer', 'watches', 'click']);return true;">Watches</a>,
          <a href="http://www.myntra.com/freecultr" onclick="_gaq.push(['_trackEvent', 'footer', 'freecultr', 'click']);return true;">Freecultr</a>,
          <a href="http://www.myntra.com/formal wear" onclick="_gaq.push(['_trackEvent', 'footer', 'formal wear', 'click']);return true;">Formal Wear</a>,
          <a href="http://www.myntra.com/puma-shoes" onclick="_gaq.push(['_trackEvent', 'footer', 'puma-shoes', 'click']);return true;">Puma Shoes</a>,
          <a href="http://www.myntra.com/levis" onclick="_gaq.push(['_trackEvent', 'footer', 'levis', 'click']);return true;">Levis</a>,
          <a href="http://www.myntra.com/wildcraft" onclick="_gaq.push(['_trackEvent', 'footer', 'wildcraft', 'click']);return true;">Wildcraft</a>,
          <a href="http://www.myntra.com/innerwear" onclick="_gaq.push(['_trackEvent', 'footer', 'innerwear', 'click']);return true;">Inner wear</a>,
          <a href="http://www.myntra.com/shirts" onclick="_gaq.push(['_trackEvent', 'footer', 'shirts', 'click']);return true;">Shirts</a>,
          <a href="http://www.myntra.com/jeans" onclick="_gaq.push(['_trackEvent', 'footer', 'jeans', 'click']);return true;">Jeans</a>,
          <a href="http://www.myntra.com/rakhi-gifts-for-sister" onclick="_gaq.push(['_trackEvent', 'footer', 'rakhi-gifts-for-sister', 'click']);return true;">Rakhi Gifts for Sister</a>,
          <a href="http://www.myntra.com/caps" onclick="_gaq.push(['_trackEvent', 'footer', 'caps', 'click']);return true;">Caps</a>,
          <a href="http://www.myntra.com/kurtas" onclick="_gaq.push(['_trackEvent', 'footer', 'kurtas', 'click']);return true;">kurtas</a>,
          <a href="http://www.myntra.com/united-colors-of-benetton" onclick="_gaq.push(['_trackEvent', 'footer', 'united-colors-of-benetton', 'click']);return true;">UCB</a>,
          <a href="http://www.myntra.com/rakhi-gifts-for-brother" onclick="_gaq.push(['_trackEvent', 'footer', 'rakhi-gifts-for-brother', 'click']);return true;">Rakhi Gifts for Brother</a>,
          <a href="http://www.myntra.com/adidas-shoes" onclick="_gaq.push(['_trackEvent', 'footer', 'adidas-shoes', 'click']);return true;">Adidas shoes</a>,
          <a href="http://www.myntra.com/backpacks" onclick="_gaq.push(['_trackEvent', 'footer', 'backpacks', 'click']);return true;">Backpacks</a>,
          <a href="http://www.myntra.com/sunglasses" onclick="_gaq.push(['_trackEvent', 'footer', 'sunglasses', 'click']);return true;">Sunglasses</a>,
          <a href="http://www.myntra.com/sandals" onclick="_gaq.push(['_trackEvent', 'footer', 'sandals', 'click']);return true;">sandals</a>,
          <a href="http://www.myntra.com/perfumes" onclick="_gaq.push(['_trackEvent', 'footer', 'perfumes', 'click']);return true;">Perfumes</a>,
          <a href="http://www.myntra.com/fila-shoes" onclick="_gaq.push(['_trackEvent', 'footer', 'fila-shoes', 'click']);return true;">Fila Shoes</a>,
          <a href="http://www.myntra.com/dresses" onclick="_gaq.push(['_trackEvent', 'footer', 'dresses', 'click']);return true;">Dresses</a>,
          <a href="http://www.myntra.com/women-clothing" onclick="_gaq.push(['_trackEvent', 'footer', 'women-clothing', 'click']);return true;">Women Clothing</a>,
          <a href="http://www.myntra.com/french connection" onclick="_gaq.push(['_trackEvent', 'footer', 'french connection', 'click']);return true;">French Connection</a>,
          <a href="http://www.myntra.com/converse-shoes" onclick="_gaq.push(['_trackEvent', 'footer', 'converse-shoes', 'click']);return true;">Converse Shoes</a>,
          <a href="http://www.myntra.com/flip-flops" onclick="_gaq.push(['_trackEvent', 'footer', 'flip-flops', 'click']);return true;">Flip Flops</a>,
          <a href="http://www.myntra.com/fastrack-watches" onclick="_gaq.push(['_trackEvent', 'footer', 'fastrack-watches', 'click']);return true;">Fastrack Watches</a>,
          <a href="http://www.myntra.com/jackets" onclick="_gaq.push(['_trackEvent', 'footer', 'jackets', 'click']);return true;">Jackets</a>,
          <a href="http://www.myntra.com/sports-shoes" onclick="_gaq.push(['_trackEvent', 'footer', 'sports-shoes', 'click']);return true;">Sports Shoes</a>,
          <a href="http://www.myntra.com/handbags" onclick="_gaq.push(['_trackEvent', 'footer', 'handbags', 'click']);return true;">Handbags</a>,
          <a href="http://www.myntra.com/lingerie" onclick="_gaq.push(['_trackEvent', 'footer', 'lingerie', 'click']);return true;">Women Lingerie</a>
    </div>

<!--=========== tags block in footer ends ===================================== -->
<hr >
<!--=========== about us text block in footer starts=========================== -->
<div class="dh-text">
    <div class="dh-foot-title">ABOUT DEALHELL</div>
    DealHell.com is India’s largest online fashion and lifestyle store for men, women, and kids.<br>
    Shop online from the latest collections of apparel, footwear and accessories, featuring the best brands.<br>
    We are committed to delivering the best online shopping experience imaginable.<br>
</div>

<hr>
<div class="dh-copy-right">
            © dealhell.com / All rights reserved
        </div>
<!--=========== about us text block in footer ends=========================== -->


    </div>
  </div>
</div>
