<div id="h-top-grid">
	<div class="container">
	 <div class="row">
	   <div class="span10 offset1">
	   	<ul class="unstyled clearfix inlined">
	   		<li><%= link_to "Best of the week" %></li>
	   		<li><%= link_to "Refer a friend" %><li>
	   		<li><%= link_to "GIVE US LOVE" %></li>
	   		<li><%= link_to "Dont Miss" %></li>
	   	</ul>
	   </div>
	 </div>
	 <div class="row" style="<%= 'display: none' unless params[:cotroller] == 'main'%>" >
	 	<div class="span10 offset1 punches">
		 	<div class="pull-left">
		 		<ul class="unstyled inlined clearfix">
		 			<li>
		 				BEST OF ALL
		 			</li>
		 			<li>
		 				FREE SHIPPING*
		 			</li>
		 			<li>
		 				TOP BRANDS
		 			</li>
		 			<li>
		 				LATEST FASHION
		 			</li>
		 		</ul>
		 	</div>
		 	<div class="pull-right need-help">
		 		<ul class="unstyled inlined clearfix"><li>NEED HELP? &nbsp;</li> <li><%= link_to "CONTACT US" %></li></ul>
		 	</div>
		 </div>
	 </div>
	</div>
</div>

<header class="header">
	<div class="container">
		<div class="row" style="padding-top: 5px;">
			<div class="span3 offset1">
				<h1>
					<div>
					<a href="/"><img src="/assets/logo-hell.png" alt="Myntra" title="Online Shopping store for Branded Shoes, Clothing, Accessories &amp; Fashion wear in India."></a>
				</div>
				</h1>
			</div>
			<div class="span7" style="margin-top: 5px;">
				<form class="form-horizontal">
  				<input type="text" class="search-query" placeholder="SEARCH FROM THE MOST DISCOUNTED PRODUCTS">
				</form>
			</div>
		</div>

		<div class="row">
			<div class="span10 offset1 dh-navigation-bar">
				<%= render partial: "layouts/main_navigation"%>
			</div>
		</div>
	</div>
</header>

<!-- <div id="comfort-navigator">
	<div class="container">
		<div class="row" style="<#%= 'display: none' unless params[:cotroller] == 'main'%>">
		<div class="span10 offset1">
			<div class="pull-left">
			<%# current_user = nil # TODO: remove it%>
			<%# if current_user %>

			<%# else %>
				<button class="btn btn-small btn-danger" type="button">LOGIN / SIGN UP</button>
			<%# end %>
		</div>
		<div class="pull-right my-bag">
			My Bag
		</div>
		</div>
		</div>
	</div> -->
</div>
