<div id="my-carousel" class="showcase">
    <ul>
        <li>
            <%= link_to image_tag("home_carousel1.jpg"),"" %>
        </li>
        <li>
           <%= link_to image_tag("home_carousel2.jpg"),"" %>
        </li>
        <li>
            <%= link_to image_tag("home_carousel3.jpg"),"" %>
        </li>
    </ul>
</div>