<ul id="dh-main-navigation" class=" unstyled clearfix">
	<li class="nav-itm">
		<a href="javascript:void()" rel="nofollow" class="itm-link">
			<div class="itm-content active">
				ALL
			</div>
		</a>
		<div class="dh-dropdown first">
			<div class="dn-dropdown-left pull-left clearfix dh-menu-categories">
				<ul class="unstyled dh-menu-category-names">
					<li data-children="cat1" class="active">
						Clothing, Shoes & Jewelry
					</li>
					<li data-children="cat2">
						Computers & Electronics
					</li>
					<li data-children="cat3">
						Music & Games
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat1 active">
					<li class="dh-menu-category">
						Clothing, Shoes & Jewelry
					</li>
					<li>
						Clothing
					</li>
					<li>
						Shoes
					</li>
					<li>
						Handbags
					</li>
					<li>
						Accessories
					</li>
					<li>
						Luggage
					</li>
					<li>
						Jewelry
					</li>
					<li>
						Watches
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat2">
					<li class="dh-menu-category">
						Computers & Electronics
					</li>
					<li>
						TV & Video
					</li>
					<li>
						Home Audio & Theater
					</li>
					<li>
						Camera, Photo & Video
					</li>
					<li>
						Cell Phones & Accessories
					</li>
					<li>
						Video Games
					</li>
					<li>
						MP3 Players & Accessories
					</li>
					<li>
						Laptops, Tablets & Netbooks
					</li>
					<li>
						Computer Accessories & Peripherals
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat3">
					<li class="dh-menu-category">
						Music & Games
					</li>
					<li>
						Music
					</li>
					<li>
						MP3 Downloads
					</li>
					<li>
						Musical Instruments
					</li>
					<li>
						Video Games
					</li>
					<li>
						Game Downloads
					</li>
				</ul>
			</div>
			<div class="dn-dropdown-right pull-left">
				<ul class="unstyled clearfix inlined">
					<li>
						<%= image_tag "amazon_log.png" %>
					</li>
					<li>
						<%= image_tag "ideeli_logo.png" %>
					</li>
					<li>
						<%= image_tag "bestbut_logo.png" %>
					</li>
					<li>
						<%= image_tag "tshirthell_logo.gif" %>
					</li>
					<li>
						<%= image_tag "infibeam_logo.png" %>
					</li>
					<li>
						<%= image_tag "yesstyle_logo.gif" %>
					</li>
					<li>
						<%= image_tag "pinkbasis_logo.jpg" %>
					</li>
					<li>
						<%= image_tag "lulu_logo.jpg" %>
					</li>
					<li>
						<%= image_tag "circuit_logo.png" %>
					</li>
					<li>
						<%= image_tag "rd_logo.jpg" %>
					</li>
				</ul>
			</div>
		</div>
	</li>

	<li class="nav-itm">
		<a href="javascript:void()" rel="nofollow" class="itm-link">
			<div class="itm-content">
				BEST OF WEEK
			</div>
		</a>
		<div class="dh-dropdown second">
			<div class="dn-dropdown-left pull-left clearfix dh-menu-categories">
				<ul class="unstyled dh-menu-category-names">
					<li data-children="cat1" class="active">
						Clothing, Shoes & Jewelry
					</li>
					<li data-children="cat2">
						Computers & Electronics
					</li>
					<li data-children="cat3">
						Music & Games
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat1 active">
					<li class="dh-menu-category">
						Clothing, Shoes & Jewelry
					</li>
					<li>
						Clothing
					</li>
					<li>
						Shoes
					</li>
					<li>
						Handbags
					</li>
					<li>
						Accessories
					</li>
					<li>
						Luggage
					</li>
					<li>
						Jewelry
					</li>
					<li>
						Watches
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat2">
					<li class="dh-menu-category">
						Computers & Electronics
					</li>
					<li>
						TV & Video
					</li>
					<li>
						Home Audio & Theater
					</li>
					<li>
						Camera, Photo & Video
					</li>
					<li>
						Cell Phones & Accessories
					</li>
					<li>
						Video Games
					</li>
					<li>
						MP3 Players & Accessories
					</li>
					<li>
						Laptops, Tablets & Netbooks
					</li>
					<li>
						Computer Accessories & Peripherals
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat3">
					<li class="dh-menu-category">
						Music & Games
					</li>
					<li>
						Music
					</li>
					<li>
						MP3 Downloads
					</li>
					<li>
						Musical Instruments
					</li>
					<li>
						Video Games
					</li>
					<li>
						Game Downloads
					</li>
				</ul>
			</div>
		</div>
	</li>

	<li class="nav-itm">
		<a href="javascript:void()" rel="nofollow" class="itm-link">
			<div class="itm-content">
				FAMOUSE
			</div>
		</a>
		<div class="dh-dropdown thrid">
			<div class="dn-dropdown-left pull-left clearfix dh-menu-categories">
				<ul class="unstyled dh-menu-category-names">
					<li data-children="cat1" class="active">
						Clothing, Shoes & Jewelry
					</li>
					<li data-children="cat2">
						Computers & Electronics
					</li>
					<li data-children="cat3">
						Music & Games
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat1 active">
					<li class="dh-menu-category">
						Clothing, Shoes & Jewelry
					</li>
					<li>
						Clothing
					</li>
					<li>
						Shoes
					</li>
					<li>
						Handbags
					</li>
					<li>
						Accessories
					</li>
					<li>
						Luggage
					</li>
					<li>
						Jewelry
					</li>
					<li>
						Watches
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat2">
					<li class="dh-menu-category">
						Computers & Electronics
					</li>
					<li>
						TV & Video
					</li>
					<li>
						Home Audio & Theater
					</li>
					<li>
						Camera, Photo & Video
					</li>
					<li>
						Cell Phones & Accessories
					</li>
					<li>
						Video Games
					</li>
					<li>
						MP3 Players & Accessories
					</li>
					<li>
						Laptops, Tablets & Netbooks
					</li>
					<li>
						Computer Accessories & Peripherals
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat3">
					<li class="dh-menu-category">
						Music & Games
					</li>
					<li>
						Music
					</li>
					<li>
						MP3 Downloads
					</li>
					<li>
						Musical Instruments
					</li>
					<li>
						Video Games
					</li>
					<li>
						Game Downloads
					</li>
				</ul>
			</div>
		</div>
	</li>

	<li class="nav-itm">
		<a href="javascript:void()" rel="nofollow" class="itm-link">
			<div class="itm-content">
				MOST DISCOUNTED
			</div>
		</a>

		<div class="dh-dropdown second">
			<div class="dn-dropdown-left pull-left clearfix dh-menu-categories">
				<ul class="unstyled dh-menu-category-names">
					<li data-children="cat1" class="active">
						Clothing, Shoes & Jewelry
					</li>
					<li data-children="cat2">
						Computers & Electronics
					</li>
					<li data-children="cat3">
						Music & Games
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat1 active">
					<li class="dh-menu-category">
						Clothing, Shoes & Jewelry
					</li>
					<li>
						Clothing
					</li>
					<li>
						Shoes
					</li>
					<li>
						Handbags
					</li>
					<li>
						Accessories
					</li>
					<li>
						Luggage
					</li>
					<li>
						Jewelry
					</li>
					<li>
						Watches
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat2">
					<li class="dh-menu-category">
						Computers & Electronics
					</li>
					<li>
						TV & Video
					</li>
					<li>
						Home Audio & Theater
					</li>
					<li>
						Camera, Photo & Video
					</li>
					<li>
						Cell Phones & Accessories
					</li>
					<li>
						Video Games
					</li>
					<li>
						MP3 Players & Accessories
					</li>
					<li>
						Laptops, Tablets & Netbooks
					</li>
					<li>
						Computer Accessories & Peripherals
					</li>
				</ul>
				<ul class="unstyled dh-menu-category-list cat3">
					<li class="dh-menu-category">
						Music & Games
					</li>
					<li>
						Music
					</li>
					<li>
						MP3 Downloads
					</li>
					<li>
						Musical Instruments
					</li>
					<li>
						Video Games
					</li>
					<li>
						Game Downloads
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>