<style type="text/css" media="screen">


</style>
<div id="dh-sidebar">
	<div id="pull">
		<a href="javascript:" id="sidebar-toggle" class="button" title="Sidebar" target="_blank">››</a>
	</div>
	<h3>Refine Search</h3>
	<hr>
	<div class="dh-side-block">
		<h3>Show Me</h3>
		 <select class="dh-chosen" id="dh-side-category" data-placeholder="Choose a Country..." multiple tabindex="3">
	      <option selected value="discount">All Categories</option> 
	      <option value="likes">Girls</option> 
	      <option value="sold">Boys</option> 
	      <option value="views">Tshirts</option>
	      <option value="views">Mobiles</option> 
	      <option value="views">Hammer</option> 
    </select>
    <h3>Only</h3>
    <div class="btn-group" data-toggle="buttons-radio">
		  <button type="button" class="btn">All</button>
		  <button type="button" class="btn">Discounted</button>
		</div>
		<h3>Priced Between</h3>
		<section class="price-slider">   
    	<span class="slider-tip btn-danger"></span>   
    	<div id="slider"></div>  
		</section>  
		<h3>Sort By</h3>
    <select class="dh-chosen" id="sort_by" data-placeholder="Choose a Country..." multiple tabindex="3">
      <option selected value="discount">Most Discounted</option> 
      <option value="likes">Most Popular</option> 
      <option value="sold">Most Selling</option> 
      <option value="views">Most Viewed</option> 
      <option value="views">Most Recent</option>
    </select>
  </div>

	<div class="dh-side-block">
	</div>
</div>