<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dealhell" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "#{params[:controller]}", :media => "all" %>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>
    <div id="fb-root"></div>
    <%= render partial: "layouts/header_home"%>
    <!-- <div class="container main-container">
      <div class="content">
        <div class="row"> -->
            <%= yield %>
      <!--   </div>
      </div>
      <footer>
      </footer>
    </div>  -->

      <footer>
        <div class="container">
          <div class="row">
           <div class="span10 offset1">
             <%= render partial: "layouts/footer_home"%>
            </div>
          </div>
        </div>
      </footer>
    <!-- Javascripts    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "#{params[:controller]}" %>
    <%= yield :js %>  
  </body>
</html>